.TITULO{
	color: green;
	font-family: 'Bowlby One SC', cursive;
}

.sec_1{
	margin:20px;
}
table{
	
	
}
.Titulo{
       text-align: center;
	color: black;
	background-color:green;
	font-family: 'Bowlby One SC', cursive;
	
}